<h2>
    Caching
</h2>
<p> Click the button below to check most popular products</p>
<a href="/Home/PopularProducts?useCache=true" class="btn btn-primary"> Get Popular Products (with Caching)</a>
<a href="/Home/PopularProducts?useCache=false" class="btn btn-secondary"> Get Popular Products (without Caching)</a>